{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/admin-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 class="welcome-text">Admin Panel</h1>
                            <span class="subheading welcome-text">Organize your projects</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="text-center">Basic Actions</h2>
                    <div class="form-row text-center clearfix">
                        <a href="/dashboard"><button class="btn btn-secondary float-start">Dashboard</button></a>
                        <a href="/logout"><button class="btn btn-secondary float-end">Log out</button></a>
                    </div>
                    <hr>
                    <h2 class="text-center">Edit Projects</h2>
                        <form id="contactForm" action = "/edit/{{ SN }}" method = "post" data-sb-form-api-token="API_TOKEN">
                            <div class="form-floating">
                                <input class="form-control" id="title" name="title" type="text" value="{{ project.Title }}" placeholder="Enter title..." data-sb-validations="required" />
                                <label for="title">Title</label>
                                <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="slug" name="slug" type="text" value="{{ project.Slug }}" placeholder="Enter slug..." data-sb-validations="required,slug" />
                                <label for="slug">Slug</label>
                                <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="slug:slug">Slug is not valid.</div>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" id="content" name="content" placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required">{{ project.Content }}</textarea>
                                <label for="content">Content</label>
                                <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="tline" name="tline" type="text" value="{{ project.Tagline }}" placeholder="Enter tagline..." data-sb-validations="required" />
                                <label for="tline">Tagline</label>
                                <div class="invalid-feedback" data-sb-feedback="tline:required">A tagline is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="img_file" name="img_file" type="text" value="{{ project.Img_file }}" placeholder="Insert image file..." data-sb-validations="required" />
                                <label for="img_file">Image File</label>
                                <div class="invalid-feedback" data-sb-feedback="img_file:required">An image file is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="demo_link" name="demo_link" type="text" value="{{ project.Demo_link }}" placeholder="Enter demo link..." data-sb-validations="required" />
                                <label for="demo_link">Demo link</label>
                                <div class="invalid-feedback" data-sb-feedback="demo_link:required">A demo link is required.</div>
                            </div>
                            <br />
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="form-row text-center">
                                <button class="btn btn-secondary" style="margin-bottom: 20px" id="submitButton" type="submit" >Submit</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
{% endblock %}